
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #f7931a;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
}
 
#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
 
}

.css-1nbakwd{
  background: #f7931a !important;
}

.react-tel-input .form-control {
  width: 100%;
  height: 40px;
  background-color: #35363D;
  color: #fff;
  border-radius: 8px;
  border: 0;
}

.react-tel-input .flag-dropdown{
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}

.side-menu a.active div {
  color: #f7931a;
}

th {
  color: #999;
  text-align: start !important;
  padding: .75rem 0 .75rem;
  border: 0 !important;
}

tr {
  border-bottom: 1px solid #999;
}

tr:last-child {
  border: 0;
}

td{
  border: 0 !important;
  padding: 1rem 0 1rem;
}

option {
  background-color: #35363D !important;
}

.chart {
  width: 100%;
  height: 220px;
}

.chakra-select__icon-wrapper.css-ulx71t {
  display: none !important;
}

.chakra-menu__menuitem.css-18esm8n {
  background-color: transparent;
}

.css-lz86ae[data-status=complete],.css-4t6ey5[data-status=complete] {
  background: #fff !important;
}

.react-tel-input .flag-dropdown.open {
  overflow: visible;
  border-radius: 8px 0 0 8px;
  z-index: 9999; 
}

.react-tel-input .country-list {
  background-color: #35363D !important;
  color: #fff !important
}

.react-tel-input .country-list .country.highlight {
  background-color: #999 !important;
}

.react-tel-input .country-list .country:hover {
  color: #213547;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
 
}
